<%- include('base') -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="card">
        <div class="card-body">
          <h1 class="card-title">Welcome to Sketch Cature</h5>
          <p class="card-text">Different Merchendaise is available</p>
        </div>
        <div class="card-body">
            <h5 class="card-title">Our Merchendise available</h5>
            <p class="card-text">Tshirt, Mugs, Backpack, keychain<i></i></p>
          </div>
          <div class="card-body" style="max-width: 45rem;">
            <h5 class="card-title">Contact Us</h5>
            <p class="card-text">We are available in <i class="fas fa-phone">09123456789</i></p>
            <p class="card-text">and also in <i class="fas fa-envelope-square">Sketch@gmail.com</i></p>
          </div>
          <div class="card-body" style="max-width: 45rem;">
            <h5 class="card-title">We are located here</h5>
            <img width="50%"src="./images/map.png" alt="">
          </div>
          
      </div>

</body>
</html>