<%- include('base') -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="card">
        <div class="card-body">
          <h1 class="card-title">Welcome to Sketch Cature</h5>
          <p class="card-text">Different Merchendaise is available</p>
        </div>
        <div class="card-body">
            <h5 class="card-title">Our Merchendise available</h5>
            <p class="card-text">Tshirt, Mugs, Backpack, keychain<i></i></p>
          </div>
          <div class="card-body" style="max-width: 45rem;">
            <h5 class="card-title">Contact Us</h5>
            <p class="card-text">We are available in <i class="fas fa-phone">09123456789</i></p>
            <p class="card-text">and also in <i class="fas fa-envelope-square">Sketch@gmail.com</i></p>
          </div>
          <div class="card-body" style="max-width: 45rem;">
            <h5 class="card-title">We are located here</h5>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3958.924822355594!2d125.61614621446913!3d7.134692217736224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x32f96b86786da2bb%3A0x9aa9e456879be48c!2sDECA%20HOMES%20Cabantian!5e0!3m2!1sen!2sph!4v1644548140654!5m2!1sen!2sph" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

          </div>
          
      </div>

</body>
</html>