<%- include('base') -%>
<!-- <body>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
 <div style="padding: 10%;" class="shadow-lg p-3 mb-5 bg-white rounded">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./images/banner.jpg" alt="">
          </div>
        
        </div>
      </div>

    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Welcome to LOVE</h5>
         
          <video class="card-img-top" style="border-radius: 5px; left:30px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.30); width: 40%;"  controls>
            <source src="./video/advertise.mp4" type="video/mp4" >
        </video>
          <p class="card-text">Enjoy faster licensing and registration here!</p>
          <a href="/signin" class="card-link">Sign In</a>
          <a href="/signup" class="card-link">Create Account</a>
        </div>
      </div>
      </div> -->
      <div style="padding: 10%;" class="shadow-lg p-3 mb-5 bg-white rounded">
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        
        <img src="./images/banner.jpg" alt="">
        <video  style="border-radius: 5px; left:30px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.30); width: 40%;"  controls>
            <source src="./video/advertise.mp4" type="video/mp4" >
        </video>
        
    </div>
    <div class="card">
        <div class="card-body">
          <h1 class="card-title">Welcome to LOVE</h5>
          <p class="card-text">Enjoy faster licensing and registration here!</p>
          <a href="/signin" class="card-link">Sign In</a>
          <a href="/signup" class="card-link">Create Account</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Our Services</h5>
            <p class="card-text">We can register <i>Student Permits, Non-Professional Driver's License, Professional Driver's License, Renewal of Driver's License and many more...</i></p>
          </div>
          <div class="card-body" style="max-width: 45rem;">
            <h5 class="card-title">Contact Us</h5>
            <p class="card-text">We are available in <i class="fas fa-phone">09123456789</i></p>
            <p class="card-text">and also in <i class="fas fa-envelope-square">love@gmail.com</i></p>
          </div>
          <div class="card-body" style="max-width: 45rem;">
            <h5 class="card-title">Technologies Used</h5>
            <span style="font-size: 48px; color: Dodgerblue;">
                <i class="fab fa-node"></i> <i class="fas fa-paint-roller">canva</i><i class="fas fa-plane">Heroku</i>
              </span>
        
          </div>
          
      </div>
     
</div>

 
 
 